body {
font-size: 100%;
background: white;
color: #D45500;
}
div#body {
margin-left: 16em;
}
div.content {
border: solid 1px #FFFFD0;
}
input {
background: white;
}
a { color: #338000; }
h1 {
text-align: center;
font-size: 200%;
}
div#mainarea {
margin-top: 4em;
width: 30em;
text-align: center;
margin-left: auto;
margin-right: auto;
border: solid 1px #AAAAAA;
}

div#admin_header {
width: 100%;
background-color: #FFFFD0;
text-align: center;
}
div#adminarea {
float: left;
width: 15em;
margin-top: 2em;
border: solid 2px #FFFFD0;
}
ul#adminmenu li {

}