body {
font-size: 100%;
background: #101010;
color: #D0D0D0;
}
#homebody { margin-top: 10em; }
div#body { margin-left: 0.2em; }
div.content { border: solid 1px #FFFF90; }

input {
color: #111111
background: #D0D0D0;
border: solid 1px;
border-color: #686868;
}
input:hover { border-color: #27e8f2; }
input[type=submit] {
color: #F0F0F0;
font-weight:bold;
background-color: #808080;
}
a {          color: #f3b64a; text-decoration: none }
a:visited { color: #f7ce85; }
a:hover {   color: #27e8f2; }
a:active {  color: #f3b64a; }
li { color: #808080; }
h1 {
text-align: center;
font-size: 200%;
}
div#mainarea {
margin-top: 4em;
width: 30em;
text-align: center;
margin-left: auto;
margin-right: auto;
background: #111111
}
div#column { float: right; }
div#adminarea {
background: #111111;
width: 15em;
margin-top: 2em;
border: solid 2px #808080;
padding: 2px;
}
div#admin_header {
width: 100%;
background-color: #808080;
text-align: center;
}

ul { margin: 0.1em; list-style-type: none; }
li:hover { list-style-type: circle; }
ul#adminmenu li { margin: 0.5em; }

.error { color: red; font-weight: bold; }

div#toolbox {
background: #111111;
width: 15em;
margin-top: 2em;
border: solid 2px #808080;
padding: 2px;
}